body{margin:0;padding:0;background:#ffe;font-size:14px;font-family:'微软雅黑','宋体',sans-serif;color:#231F20;overflow:auto}
a {color:#000;font-size:14px;}
#main{width:100%;}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;}
#text{width:400px;height:425px;left:60px;top:80px;position:absolute;}
#code{display:none;font-size:15px;}
.say{color: #ff87e5;}
#clock-box {position:absolute;left:60px;top:550px;font-size:28px;display:none;}
#clock-box a {font-size:28px;text-decoration:none;}
#clock{margin-left:48px;}
#clock .digit {font-size:64px;}
#canvas{margin:0 auto;width:1100px;height:680px;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{margin-left:5px;}
.space{margin-right:250px;}
body:hover
{
    background-color:#000;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    min-height:10vh;
    background-color: #f84258;
    position: fixed;
    width: 100%;
    top:0;
   
}
a{
    text-decoration: none;
}
nav a{
    color:black;
}
nav a:hover{
    color:#f84258;
    text-decoration: none;

}
#login{
    color:#f84258;
}

.nav-links{
    display:flex;
    list-style: none;
    width:50%;
    justify-content: space-around;
    letter-spacing: 2px;
    font-weight: 600;
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
}
.burger div{
    background-color:white;
    width:25px;
    height:3px;
    margin:5px;
    transition: all 0.3s ease;
}

.burger{
    display:none;
    cursor: pointer;
}

@media screen and (max-width:1024px){
    .nav-links{
        width:80%;
    }

}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
       position:absolute;
       right:0px;
       height:90vh;
       top:10vh;
       background-color: #232323;
       display:flex;
       flex-direction: column;
       align-items: center;
       width:60%;
       transform:translateX(100%);
       transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    nav a{
        color:#ff4d4d;
    }
    nav a:hover{
        color:#ff4d4d;
        text-decoration: none;
    
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

    header 
    {
      background-color: #ff4d4d; /* Red header background */
      color: #ffffff; /* White text color */
      padding: 20px;
      width: 100%;
    }