body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(green, lime, limegreen);
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body:hover
{
   background: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #87067c;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #3f036a;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("images/24305102.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    min-height:10vh;
    background-color: #f84258;
    position: fixed;
    width: 100%;
    top:0;
   
}
a{
    text-decoration: none;
}
nav a{
    color:black;
}
nav a:hover{
    color:#f84258;
    text-decoration: none;

}
#login{
    color:#f84258;
}

.nav-links{
    display:flex;
    list-style: none;
    width:50%;
    justify-content: space-around;
    letter-spacing: 2px;
    font-weight: 600;
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
}
.burger div{
    background-color:white;
    width:25px;
    height:3px;
    margin:5px;
    transition: all 0.3s ease;
}

.burger{
    display:none;
    cursor: pointer;
}

@media screen and (max-width:1024px){
    .nav-links{
        width:80%;
    }

}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
       position:absolute;
       right:0px;
       height:90vh;
       top:10vh;
       background-color: #232323;
       display:flex;
       flex-direction: column;
       align-items: center;
       width:60%;
       transform:translateX(100%);
       transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    nav a{
        color:#ff4d4d;
    }
    nav a:hover{
        color:#ff4d4d;
        text-decoration: none;
    
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

    header 
    {
      background-color: #ff4d4d; /* Red header background */
      color: #ffffff; /* White text color */
      padding: 20px;
      width: 100%;
    }